<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MJTVNXMW');</script>
    <!-- End Google Tag Manager -->
    <meta name="facebook-domain-verification" content="rtpciukbp4p4d2plw6guc5vfxjxgzb" />
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MJTVNXMW"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "carousel.html" . }}

{{ with .Site.Data.OneHomeWelcome }}
        <section class="py-5 bg-light">
          <div class="container">
            <div class="row">
              <div class="mx-auto">

                <div class="border rounded-3 p-5 p-md-6 shadow-sm bg-white text-center" >
                  <h2 class="display-4 fw-bold mb-4">
                    {{ .title }}
                  </h2>
                  {{ with .subtitle }}
                  <p class="lead text-muted mb-5">
                    {{ . | safeHTML }}
                  </p>
                  {{ end }}
                  <p class="mx-auto text-start px-10" style="padding-left: 25px !important; padding-right: 25px !important; font-size: 20px !important;">
                    {{ .content | markdownify }}
                  </p>
                </div>

              </div>
            </div>
          </div>
        </section>
        {{ end }}

        {{ partial "features.html" . }}

        {{ partial "testimonials.html" . }}

        {{ partial "see_more.html" . }}

        {{ partial "recent_posts.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
