<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>

  <body>

    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "carousel.html" . }}

{{ with .Site.Data.OneHomeWelcome }}
        <section class="py-5 bg-light">
          <div class="container">
            <div class="row">
              <div class="mx-auto">

                <div class="border rounded-3 p-5 p-md-6 shadow-sm bg-white text-center" >
                  <h2 class="display-4 fw-bold mb-4">
                    {{ .title }}
                  </h2>
                  {{ with .subtitle }}
                  <p class="lead text-muted mb-5">
                    {{ . | safeHTML }}
                  </p>
                  {{ end }}
                  <p class="mx-auto text-start px-10" style="padding-left: 25px !important; padding-right: 25px !important; font-size: 20px !important;">
                    {{ .content | markdownify }}
                  </p>
                </div>

              </div>
            </div>
          </div>
        </section>
        {{ end }}

        {{ partial "features.html" . }}

        {{ partial "testimonials.html" . }}

        {{ partial "see_more.html" . }}

        {{ partial "recent_posts.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
